:root {
    --primary-color: #344966;
    --primary-color-light: #0D1821;
    --secondary-color: #344966;

    --dark-color: #0D1821;
    --border-radius: 0;
    --border-color: #393939;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    *{
        animation: fadeIn 2s;
    }
body {
    color:#fff;
    background-color: #344966; 
    font-weight: 400;
    font-family:sans-serif;
}

.loading-message {
    text-align: center;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    background-color: var(--primary-color-light);
}
.btn-primary {
    background-color: var(--primary-color);
    border:  var(--primary-color);
}
.btn-block {
    background-color: var(--primary-color);
    border:  var(--primary-color);
}
/* Navbar */
.navbar {
    background-color: var(--primary-color-light);
    margin-bottom: 3rem;
}
.navbar-brand {
    font-size: 3rem;
    color: var(--secondary-color);
    text-shadow: 1px 3px 0px var(--primary-color);
}
.navbar-brand .logo {
    max-width: 250px;
}

.logo-button {
    background-color: transparent;
    border: none;
}
.logo-button:focus {
    outline: none;
}

.navbar-cart span {
    color: #fff;
    font-size: .8rem;
    font-weight: 400;
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-cart a {
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
}

/* Pokemon Card */

.pokemon-card {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 3px 1px 6px var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--dark-color);
}
.pokemon-card-content {
    border-radius: var(--border-radius);
}
.pokemon-card-header {
    color: var(--primary-color);
    text-align: center;
    background-color: var(--dark-color);
}
.pokemon-card-header h2 {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.4rem;
    background-color: var(--dark-color);
    color: #fff;
}
.pokemon-card-body {
    background-color: var(--dark-color);
    color: #fff;
    text-align: center;
}
.pokemon-card-footer {
    background-color: var(--dark-color);
    color: #fff;
    padding: 0;
    font-size: 2rem;

    text-align: center;
}

.pokemon-type {
    padding: .3rem;
    border-radius: var(--border-radius);
    margin: .3rem;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    font-size: .65rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Cart */
.cart {
    padding: 1rem;
    background-color: var(--primary-color-light);
    position: sticky;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: var(--border-radius);
}
.cart ul {
    list-style: none;
    padding-left: 0;
}
.cart ul li.cart-item {
    font-size: .9rem;
    text-transform: capitalize;
}
.cart ul li {
    border-bottom: 1px solid var(--border-color);
    padding: .5rem 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.cart ul li:last-child{
    border-bottom: none;
}

.cart ul li span {
    float: right;
}
.cart .total {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
}
.cart img {

    max-height: 70px;
    margin-right: 10px;
}
.cart a {
    font-size: 1.2rem;
}

/* Search */ 

.search .search-content {
    margin: 0;
}
.search .form-control {
    border-color: #0D1821;
}

/* Pagination */

.pagination {
    margin: 2rem 0;
    color: #0D1821;
}

.modal-body {
    text-align: center;
}
.modal-icon {
    font-size: 1.5rem;
    color: #0D1821;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media(max-width: 600px) {

    .navbar-brand .logo {
        max-width: 100%;
    }
    
    .cart {
        margin: 1rem 0 3rem 0;
        padding: 1rem .5rem;
    }
    .cart img {
        max-height: 60px;
    }
    .cart ul li.cart-item {
        font-size: .8rem;
    }
}